<div class="tooltip-close dismiss" ng-click="close()"><i class="fa fa-close"></i></div>
<h2 class="tooltip-title">{{compound.name}}</h2>
<accordion close-others="oneAtATime">
    <accordion-group is-open="true">
        <accordion-heading>structure<i class="tooltip-accordion-toggle" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i></accordion-heading>
        <img ng-src="data/images/{{compound.id}}-{{compound.name}}.svg">
        <accordion-heading>activity<i class="tooltip-accordion-toggle" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i></accordion-heading>
        


    </accordion-group>
</accordion>
