<i class="fa fa-2x fa-download download" ng-click="saveSVG()"></i>
<synergy-slider min="slider.min" 
                max="slider.max"
                center-limit="slider.centerLimit"
                left-value="slider.leftValue"
                right-value="slider.rightValue"
                left-color="settings.colors.antagonismColor"
                left-name="antagonistic"
                right-color="settings.colors.synergyColor"
                right-name="synergistic"></synergy-slider>

<tooltip        class="tooltip-detail" 
                data-visibility="tooltip.visibility" 
                data="tooltip.data" 
                click="select"></tooltip>

<synergy-map    data="data" 
                data-selected="model.selected" 
                highlighted="model.highlighted" 
                combination-thickness="settings.combinationThickness" 
                activity-thickness="settings.activityThickness"
                low-cut-off="slider.leftValue"
                high-cut-off="slider.rightValue"
                synergy-color="settings.colors.synergyColor"
                antagonism-color="settings.colors.antagonismColor"></synergy-map>