<h3>Settings</h3>
<table class="color-settings">
  <thead></thead>
  <tbody>
    <tr>
      <td>
        <div class="cp" colorpicker="rgb" ng-model="colors.synergyColor" style="background-color: {{colors.synergyColor}}"></div>
      </td>
      <td>
        Synergy
      </td>
    </tr>
    <tr>
      <td>
        <div class="cp" colorpicker="rgb" ng-model="colors.antagonismColor" style="background-color: {{colors.antagonismColor}}"></div>
      </td>
      <td>
        Antagonism
      </td>
    </tr>
  </tbody>
</table>

<button ng-click="reset()">Reset</button>
<button ng-click="colorBlindMode()">Colorblind Mode</button>

<a class="close-reveal-modal dismiss" ng-click="dismiss()">&#215;</a>