.download {
  position: absolute;
  bottom:1%;
  left:1%;
  z-index: 1000;
  margin: 5px 5px 5px 5px;
  opacity: 0.5;
  color: #CCC;
  -webkit-transition: opacity 0.3s ease, background-color 0.3s ease;
  -moz-transition: opacity 0.3s ease, background-color 0.3s ease;
  -o-transition: opacity 0.3s ease, background-color 0.3s ease;
  -ms-transition: opacity 0.3s ease, background-color 0.3s ease;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.download:hover {
    opacity: 1.0;
}