@-webkit-keyframes 'blink' {
    0% {
        stoke-opacity:0.6;
    }
    25% {
        stroke-opacity:0.8;
    }
    50% {
        stroke-opacity:0.6;
    }
    75% {
        stroke-opacity:0.4;
    }
    100% {
        stroke-opacity:0.6;
    }
}

circle.compound {
    stroke: #DDDDDD;
    fill: #888888;
    opacity: 1.0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

circle.highlighted {
    stroke: #999999;
    fill: #666666;
}

circle.selected {
    stroke: #888888;
    fill: #555555;
}

circle.hidden {
    display: none;
    visibility: none;
    opacity: 0.0;
}

line.combination {
    stroke-opacity: 0.2;
    transition: stroke-opacity 0.2s ease-in-out;
    -webkit-transition: stroke-opacity 0.2s ease-in-out;
    -moz-transition: stroke-opacity 0.2s ease-in-out;
    -o-transition: stroke-opacity 0.2s ease-in-out;
    -ms-transition: stroke-opacity 0.2s ease-in-out;
}

line.highlighted {
    stroke-opacity: 0.4;
}

line.focused {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out; 
}

line.selected {
    stroke-opacity: 0.6;
}

line.hidden {
    display: none;
    visibility: none;
    stroke-opacity: 0.0;
}
