<h1>Synergy Maps</h1>

<p class="copyright"><fa name="copyright"></fa> Rich Lewis 2015</p>

<p class="quote">Synergy Maps is a visualization tool for pairwise compound combination datasets.</p>

<p>It was developed by <a href="http://www.ch.cam.ac.uk/group/bender/person/rl403" target="_blank">Rich Lewis</a>, a PhD student in the <a href="http://www.ch.cam.ac.uk/group/bender" target="_blank">Bender Group</a> at the <a href="http://www-ucc.ch.cam.ac.uk" target="_blank">Centre for Molecular Informatics</a>, part of the <a href="http://www.ch.cam.ac.uk" target="_blank">Department of Chemistry</a> of the <a href="http://www.cam.ac.uk" target="_blank">University of Cambridge</a>.</p>

<p>Source code is <a href="https://github.com/richlewis42/synergy-maps" target="_blank">available</a>.</p>

<a class="close-reveal-modal dismiss" ng-click="dismiss()">&#215;</a>

<h4>Acknowledgements</h4>

<p>Thanks first and foremost go to the co-authors of the accompanying paper (<em>submitted</em>), Tamás Korcsmaros, Rajarshi Guha and Andreas Bender, for their effort and patience in suggesting improvements to the tool, and help in drafting the manuscript.</p>

<p>Thanks also to the members of the Compound Combination Modelling group, and all the Bender group for their trialling and feedback for the tool.</p>