<tooltip class="tooltip-detail" data-height="{{svgStyle.height - 70}}" data-visibility="tooltip.visibility" data="tooltip.data" click="select"></tooltip>

<synergy-map    data="data" 
                svg-style="svgStyle" 
                selected="model.selected" 
                highlighted="model.highlighted" 
                combination-thickness="20" 
                activity-thickness="20"
                synergy-color="settings.colors.synergyColor"
                antagonism-color="settings.colors.antagonismColor"></synergy-map>